<div class="review-details">
  <div><b>User: </b><%= review.user.name %> </div>
  <div><b>Rating: </b><%= review.rating %>/5 </div>
  <div class="review-desc"><b>Description: </b><%= review.description %> </div><br>
</div>


